/*.color1{background-color: #FACE36;}
.borde{border: 1px #000 solid;}
.negritas{font-weight: bold;}
.superior{margin-top: 20px;}
.derecha{padding-right: 5px;}
.celdat{margin-top: 30px; text-align: center;}*/